<div class="segment">
  <h4>User Segment for Marketing Notifications</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Segment</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Segment1</td>
        <td>Bishwa</td>
        <td>@mdo</td>
        <td>
          <button mat-button>
            <mat-icon color="Primary-blue">get_app</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Segment2</td>
        <td>Rahul</td>
        <td>@fat</td>
        <td>
          <button mat-button>
            <mat-icon color="Primary-blue">get_app</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td>Segment3</td>
        <td>Ujjwal</td>
        <td>@twitter</td>
        <td>
          <button mat-button>
            <mat-icon color="Primary-blue">get_app</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
